.about-bg{
    background-color: #F9FAFB;
    padding: 80px;
    position: relative;
    z-index: -2;
}

.img-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 350px;
    z-index: -1;
}


.about-content{
    margin-top: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 80px;
}

.about-text h1{
    margin-bottom: 40px;
}

.about-span{
    display: block;
    margin-top: 40px;

}

.about-span i{
    margin-right: 10px;
}

.about-img img{
    width: 600px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
}

