.intro-bg{
    display: flex;
    align-items: start;
    height: 100vh;
    background-color: var(--cor-primaria);
}

.intro-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px */
}

.intro-text{
    width: 700px;
}

.intro-text h2{
    color: var(--dark-grey);
}

.intro-img img{
    object-fit: cover;
    height: 550px;
    width: auto;
}


@media (max-width: 1400px){
    .intro-img img{
        height: 400px;
    }
}


.reveal-txt, .reveal-img{
    visibility: hidden;
}