.intro-bg{
    position: relative;
}

.intro-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-desc{
    height: 160px;
}

.intro-desc p{
    margin-bottom: 40px;
}

.intro-img img{
    position: relative;
    object-fit: cover;
    height: 550px;
    width: auto;
}

.detail-img-intro{
    position: absolute;
    font-size: 3rem;
    color: var(--cor-secundaria);
    opacity: 0.8;
}

@media (max-width: 1400px){
    .intro-img img{
        height: 400px;
    }
}

@media (max-width: 993px){
    .intro-content{
        text-align: center;
        justify-content: center;
    }

    .intro-img,
    .detail-img-intro{
        display: none;
    }
}

.reveal-txt, .reveal-img{
    visibility: hidden;
}