/* SLIDES */

.tratamento-content{
  padding-top: 40px;
}

.tratamento-titulo h2{
  border-bottom: 2px solid var(--primaria);
  text-align: left;
}

.tratamento-content p{
  margin-bottom: 20px;
}

.tratamentos-img img{
  height: 200px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.tratamento-slide{
  height: 450px;
}


.tratamento-btn{
  outline: none;
  border: none;
  background: var(--cor-secundaria);
  padding: 10px 16px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.tratamento-btn:hover{
  background: var(--cor-secundaria-3);
}

.tratamento-btn i{
  margin-left: 5px;
}
